<form class="user-form" [formGroup]="userForm" novalidate>
  <mat-form-field class="row">
    <input matInput formControlName="name" placeholder="Name" />
  </mat-form-field>

  <mat-form-field class="row">
    <input matInput formControlName="userName" placeholder="UserName" />
  </mat-form-field>

  <mat-form-field class="row">
    <input matInput formControlName="address" placeholder="Address" />
  </mat-form-field>

  <mat-form-field class="row">
    <input matInput formControlName="company" placeholder="Company" />
  </mat-form-field>
</form>
